@media screen and (max-width: 1400px) {
    #profile{
      height: 83vh;
      margin-bottom: 6em;
    }

    .about-containers{
      flex-wrap: wrap;
    }

    #contact, #projects{
      height: fit-content;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav{
      display: none;
    }
  
    #hamburger-nav{
      display: flex;
    }

    #profile, .section-container{
        display: block;
    }
    
    section,.section-container{
        height: fit-content;
    }
      
    section{
        margin: 0 5%;
    }
    
    .section-pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2em;
    }

    .about-containers{
      margin-top: 0;
    }

    #experience, .experience-details-container{
      margin-top: 2em;
    }
}

/* For devices such as tablets or larger phones */
@media screen and (max-width: 768px) {
  .logo {
      font-size: 1.5em;
  }

  .nav-links {
      flex-direction: column;
      gap: 1em;
      text-align: center;
  }

  article {
      font-size: 1em;
  }

  #profile {
      height: auto;
      margin-bottom: 0;
  }

  .experience-sub-title {
      font-size: 1.25em;
  }

  .title {
      font-size: 1.75em;
  }

  .text-container {
      text-align: justify;
  }

  .section-pic-container {
      width: auto;
      height: auto;
      justify-content: center;
  }

  .section-text-2 {
      font-size: 1.25em;
  }

  .about-containers, .contact-info-upper-container, .btn-container {
      flex-wrap: wrap;
      justify-content: center;
  }

  .contact-info-container {
      margin: 0 auto;
      text-align: center;
  }

  .contact-info-container p, .nav-links li a {
      font-size: 1em;
  }

  #contact, footer {
      height: auto;
      padding: 1em;
  }

  footer nav {
      height: fit-content;
      margin-bottom: 2em;
  }
}

/* For devices such as small phones */
@media screen and (max-width: 480px) {
  .logo {
      font-size: 1.2em;
  }

  .nav-links {
      gap: 0.5em;
      font-size: 1em;
  }

  .btn {
      padding: 0.5em;
      font-size: 0.9em;
  }

  .profile-pic {
      width: 150px;
      height: 150px;
  }

  .title {
      font-size: 1.5em;
  }

  .section-text-2 {
      font-size: 1em;
  }

  .section-pic-container {
      width: 100%;
      height: auto;
  }

  .experience-sub-title {
      font-size: 1em;
  }

  footer {
      text-align: center;
  }
}